.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.logout{
  margin-top:5%;
  margin-left:50%;
  font-size:15px;
 width:5%;
 height:5%;
 background-color:rgb(161, 71, 132);
 border-radius:1%;
}

.profile {
margin-top:3%;
margin-left:2%;
}



.information {
  margin-top:10%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

}

input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;

}

 .information button {
  background-color:blue;
   width:100px;
  margin-top: 15px;
} 

 button:hover {
  cursor: pointer;
}